appdirs==1.4.4
backtrader==1.9.78.123
backtrader_ib_insync @ git+https://github.com/ultra1971/backtrader_ib_insync@20a450a1908a6866e0529d5bde4bbe52b576babf
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
clickhouse-connect==0.7.8
contourpy==1.2.1
cycler==0.12.1
eventkit==1.0.3
fonttools==4.51.0
frozendict==2.4.4
html5lib==1.1
ib-insync==0.9.86
IbPy2 @ git+https://github.com/blampe/IbPy.git@cba912d2ecc669b0bf2980357ea7942e49c0825e
idna==3.7
kiwisolver==1.4.5
loguru==0.7.2
lxml==5.2.1
lz4==4.3.3
matplotlib==3.8.4
multitasking==0.0.11
nest-asyncio==1.6.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
peewee==3.17.5
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
setuptools==69.5.1
six==1.16.0
soupsieve==2.5
toml==0.10.2
tzdata==2024.1
urllib3==2.2.1
webencodings==0.5.1
wheel==0.43.0
yfinance==0.2.38
zstandard==0.22.0
